:root {
  font-size: 18px;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: $dark-text;
  margin: 0 0 0.4em 0;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.8rem;
}

p, a, button, label, input, textarea, span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.6;
  color: $light-text;
  margin: 0;
}

a {
  text-decoration: none;
  transition: color 150ms ease-in-out;

  &:hover {
    color: darken(#ffffff, 20%);
  }
}

label {
  font-size: 1.2rem;
  color: $dark-text;
}


@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.6rem;
  }
  h3 {
    font-size: 2.2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.4rem;
  }
  h6 {
    font-size: 1rem;
  }

  p, a, button, label, input, textarea, span {
    font-size: 1rem;
  }
}
