:root {
  font-size: 18px;
}
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: $dark-text;
  margin: 0 0 0.4em 0;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.4rem;
}
h6 {
  font-size: 1rem;
}

p, a, button, label, input, textarea, span {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: $light-text;
}

label {
  font-size: 1.2rem;
  color: $dark-text;
}
