section {
  width: 100%;
  margin: 0;
  padding: 0;

  @include clearfix;
}

.section-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
  @include clearfix;
  @media screen and (min-width: 1460px) {
    padding: 0;
  }
}
