.nav {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1.6rem 0.2rem;
  @media screen and (min-width: 800px) {
    padding: 1.6rem 1rem;
  }
  @media screen and (min-width: 1440px) {
    padding: 1.6rem 0;
  }

  &--branding {
    color: #ffffff;
    font-size: 1rem;
    display: inline-block;
    padding: 0.4em 1em;
    line-height: 1.4;
  }

  &--list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style: none;
    vertical-align: middle;
    text-align: center;
    display: block;
    float: right;

    &-item {
      margin-left: 2em;
      vertical-align: middle;
      display: block;
      float: left;

      a {
        color: #ffffff;
        font-size: 1rem;
        display: inline-block;
        padding: 0.4em 0;
        line-height: 1.4;
        &:hover {
          color: darken(#ffffff, 20%);
        }

        &.btn {
          padding: 0.4em 1em;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
}
